<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jdp.hls">
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:name="com.jdp.hls.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_start"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_start"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--.page.login.LoginActivity-->
        <activity
            android:name=".page.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--登录页-->
        <!--    <activity
                android:name=".page.login.LoginActivity"
                android:screenOrientation="portrait"/>-->
        <!--项目列表-->
        <activity
            android:name=".page.projects.ProjectListActivity"
            android:screenOrientation="portrait"/>
        <!--修改页-->
        <activity
            android:name=".page.modify.ModifyAndUploadActivity"
            android:screenOrientation="portrait"/>
        <!--设置页-->
        <activity
            android:name=".page.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <!--消息详情-->
        <activity
            android:name=".activity.MessageDetailActivity"
            android:screenOrientation="portrait"/>
        <!--修改密码-->
        <activity
            android:name=".page.modifyPassword.ModifyPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--意见及建议-->
        <activity
            android:name=".page.suggest.SuggestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--关于我们-->
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <!--花名册列表-->
        <activity
            android:name=".activity.RosterListActivity"
            android:screenOrientation="portrait"/>
        <!--添加花名册-->
        <activity
            android:name=".page.rosteradd.RosterAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <!--花名册详情-->
        <activity
            android:name=".page.rosterdetail.RosterDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--定位页-->
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait"/>
        <!--主界面-->
        <activity
            android:name=".page.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--协议界面-->
        <activity
            android:name=".activity.ProtocolActivity"
            android:screenOrientation="portrait"/>
        <!--选择联系人-->
        <activity
            android:name=".page.personSearch.PersonSearchActivity"
            android:screenOrientation="portrait"/>
        <!--编辑页面-->
        <activity
            android:name=".activity.ModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--大图界面-->
        <activity
            android:name=".activity.BigImgActivity"
            android:screenOrientation="portrait"/>
        <!--崩溃界面-->
        <activity
            android:name=".page.crash.CrashActivity"
            android:screenOrientation="portrait"/>
        <!--征收业务-->
        <activity
            android:name=".page.levy.LevyActivity"
            android:screenOrientation="portrait"/>
        <!--统计-->
        <activity
            android:name=".page.statistics.StatisticsActivity"
            android:screenOrientation="portrait"/>

        <!--花名册-->
        <activity
            android:name=".page.map.RosterActivity"
            android:screenOrientation="portrait"/>
        <!--业务列表-->
        <activity
            android:name=".page.business.list.BusinessListActivity"
            android:screenOrientation="portrait"/>

        <!--个人年限鉴定-->
        <activity
            android:name=".page.node.age.personal.NodePersonalAgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--个人测绘出图-->
        <activity
            android:name=".page.node.mapping.personal.NodePersonalMappingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--个人入户评估-->
        <activity
            android:name=".page.node.evaluate.personal.NodePersonalEvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--个人入户丈量-->
        <activity
            android:name=".page.node.measure.personal.NodePersonalMeasureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--个人协议生成-->
        <activity
            android:name=".page.node.protocol.personal.NodePersonalProtocolActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--航拍复查-->
        <activity
            android:name=".page.airphoto.list.AirphotoListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--航拍初审-->
        <activity
            android:name=".page.airphoto.detail.AirPhotoDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--选择复查对象-->
        <activity
            android:name=".page.airphoto.building.AirPhotoBuildingActivity"
            android:screenOrientation="portrait"/>

        <!--公示管理-->
        <activity
            android:name=".page.publicity.PublicityListActivity"
            android:screenOrientation="portrait"/>
        <!--公示申请-->
        <activity
            android:name=".page.publicity.apply.PublicityApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--个人业务首页-->
        <activity
            android:name=".page.business.basic.personla.BasicPersonalActivity"
            android:screenOrientation="portrait"/>
        <!--个人业务详情-->
        <activity
            android:name=".page.business.detail.personal.DetailPersonalActivity"
            android:screenOrientation="portrait"/>
        <!--家庭关系-->
        <activity
            android:name=".page.familyrelation.list.FamilyRelationActivity"
            android:screenOrientation="portrait"/>
        <!--产权证-->
        <activity
            android:name=".page.deed.personal.property.DeedPersonalPropertyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--土地证-->
        <activity
            android:name=".page.deed.personal.land.DeedPersonalLandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--不动产证-->
        <activity
            android:name=".page.deed.personal.immovable.DeedPersonalImmovableActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--成员详情-->
        <activity
            android:name=".page.familyrelation.FamilyRememberActivity"
            android:screenOrientation="portrait"/>
        <!--企业年限鉴定-->
        <!--企业入户评估-->
        <!--企业协议生成-->
        <!--其它面积列表-->
        <activity
            android:name=".page.otherarea.list.OtherAreaListActivity"
            android:screenOrientation="portrait"/>
        <!--企业业务入口-->
        <activity
            android:name=".page.business.basic.company.BasicCompanyActivity"
            android:screenOrientation="portrait"/>
        <!--企业测绘出图-->
        <!--企业业务详情-->
        <activity
            android:name=".page.business.detail.company.DetailCompanyActivity"
            android:screenOrientation="portrait"/>
        <!--选择公示对象-->
        <activity
            android:name=".page.publicity.object.PublicityObjectActivity"
            android:screenOrientation="portrait"/>
        <!--公示详情-->
        <activity
            android:name=".page.publicity.detail.PublicityDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--一览表搜索-->
        <activity
            android:name=".page.table.TableSearchActivity"
            android:screenOrientation="portrait"/>
        <!--一览表列表-->
        <activity
            android:name=".page.table.list.TableListActivity"
            android:screenOrientation="portrait"/>
        <!--照片预览-->
        <activity
            android:name=".activity.PhotoPreviewActivity"
            android:screenOrientation="portrait"/>
        <!--土地证 企业-->
        <activity
            android:name=".page.deed.company.land.DeedCompanyLandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--营业执照 企业-->
        <activity
            android:name=".page.deed.company.license.DeedCompanyLicenseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--产权证 企业-->
        <activity
            android:name=".page.deed.company.property.DeedCompanyPropertyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--不动产证 企业-->
        <activity
            android:name=".page.deed.company.immovable.DeedCompanyImmovableActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--入户丈量 企业-->
        <activity
            android:name=".page.node.measure.company.NodeCompanyMeasureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--测绘出图 企业-->
        <activity
            android:name=".page.node.mapping.company.NodeCompanyMappingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--入户评估 企业-->
        <activity
            android:name=".page.node.evaluate.company.NodeCompanyEvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--年限鉴定 企业-->
        <activity
            android:name=".page.node.age.company.NodeCompanyAgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--协议生成 企业-->
        <activity
            android:name=".page.node.protocol.company.NodeCompanyProtocolActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--其它面积-增加-->
        <activity
            android:name=".page.otherarea.add.OtherAreaAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--其它面积-详情-->
        <activity
            android:name=".page.otherarea.detail.OtherAreaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--航拍复查-初审-->
        <activity
            android:name=".page.airphoto.add.AirPhotoApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".page.airphoto.unrecordbuilding.UnrecordBuildingListActivity"/>
        <activity android:name=".activity.UnrecordBuildingDetailActivity"/>
        <activity android:name=".page.familyrelation.detail.FamilyMememberDetailActivity"/>
        <activity android:name=".page.innerdecoration.list.DecorationListActivity"/>
        <activity android:name=".page.innerdecoration.detail.DecorationDetailActivity"/>
        <activity android:name=".base.BaseBasicActivity"/>


        <service android:name=".service.initialize.InitializeService"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f560f7009a92185e30c6d3e04eb9a62d"/>


        <!--7.0apk安装 拍照-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jdp.hls.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.zhihu.matisse.sample.fileprovider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_paths_public"></meta-data>-->
        <!--</provider>-->

    </application>

</manifest>